/* notification.css */

/* notifications container */
.notification-view {
    font-family: Arial, sans-serif;
    letter-spacing: 1px;
    font-size: 12px;
    -webkit-animation: fadeInLeft 2s;
}

.notification-view a {
    color: #e62097;
    text-decoration: none;
}

.notification-view a:hover {
    color: #d91c71;
    text-decoration: underline;
}

/* wrapper for notification messages */
.notification-view > div {
    margin: 10px 1%;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    padding: 8px 10px 7px 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 13px;
    -webkit-box-shadow: 1px 1px 3px gray;
    -moz-box-shadow: 1px 1px 3px gray;
    box-shadow: 1px 1px 3px gray;
    text-shadow: 1px 1px 1px rgb(185, 226, 150);
    border: solid rgb(185, 226, 150) 3px;
    background-color: #E1FFC8;
    min-height: 17px;
}

.notification-view > div + div {
    margin-top: 1%;
}

/* notification message label */
.notification-view > div > span:first-child {
    padding-right: 1%;
}

/* notification message close button */
.notification-view > div > button {
    margin-left: 2%;
    margin-top: -5px;
    float: right;
    /*color: #5d6768;*/
}

