/* style.css */

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@-webkit-keyframes bounceInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-2000px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(30px);
    }

    80% {
        -webkit-transform: translateX(-10px);
    }

    100% {
        -webkit-transform: translateX(0);
    }
}

@-webkit-keyframes fadeOutLeft {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
    }
}

@-webkit-keyframes shake {
    0%, 100% {
        -webkit-transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        -webkit-transform: translateX(10px);
    }
}

@-webkit-keyframes swing {
    20%, 40%, 60%, 80%, 100% {
        -webkit-transform-origin: top center;
    }
    20% {
        -webkit-transform: rotate(10deg);
    }
    40% {
        -webkit-transform: rotate(-5deg);
    }
    60% {
        -webkit-transform: rotate(2deg);
    }
    80% {
        -webkit-transform: rotate(-2deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}

@-webkit-keyframes slideInLeft {
    from {
        margin-left: -500px;
        opacity: 0;
    }
    to {
        margin-left: 60px;
        opacity: 1;
    }
}

section {
    background-color: rgb(251, 255, 255);
    margin: 1%;
    padding: 0.5px;
}

section.login-view, section.chat-view {
    display: none;
}

section.active-view {
    display: block;
}

body {
    background-color: rgb(200, 252, 255);
    color: #1B3944;
}

body > header {
    background-color: rgb(125, 255, 226);
    width: 75%;
    border-radius: 100px;
    box-shadow: -2px 2px 5px rgb(116, 180, 160);
    border: rgb(116, 231, 194) 25px solid;
    position: relative;
    margin: 10px auto 10px auto;
    max-width: 650px;
    max-height: 120px;
    -webkit-animation: slideInLeft 0.5s;
    -webkit-animation-iteration-count: 1;
}

body > header > p {
    width: 95%;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 3px;
    text-shadow: rgb(65, 124, 109) 1px -1px 8px;
    text-align: center;
    margin-bottom: -18px;
}

button, input[type=submit] {
    font-family: Arial, sans-serif;
    color: #ffffff;
    font-size: 14px;
    padding: 2px 5px 2px 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 1px 1px 3px gray;
    -moz-box-shadow: 1px 1px 3px gray;
    box-shadow: 1px 1px 3px gray;
    text-shadow: 2px 2px 2px gray;
    border: solid #d91c71 3px;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fc3f94), to(#fc0574));
    background: -moz-linear-gradient(top, #fc3f94, #fc0574);
}

button:hover, input[type=submit]:hover {
    background: #e62097;
}

input[type=text] {
    margin: 1% 10px;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    padding: 1px 1px 2px 1px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 1px 1px 3px #808080;
    -moz-box-shadow: 1px 1px 3px gray;
    box-shadow: 1px 1px 3px #808080;
    text-shadow: 1px 1px 1px #B9E296;
    border: solid #fff 3px;
    background-color: #C8FCFF;
    min-height: 17px;
    color: #3C5F81;
}

h1 {
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    color: #fff;
    letter-spacing: 2px;
    text-shadow: rgb(65, 124, 109) 1px -1px 8px;
    text-align: left;
    margin-left: 35px;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
}

h1 > span:first-child {
    font-size: 40px;
}

h1 > span:last-child {
    text-transform: none;
}

h1 > span:last-child:hover {
    text-shadow: 0 0 6px #fbff63;
}

@media (max-width: 625px) {
    h1 > span:last-child {
        display: none;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 22px;
    }
    h1 > span:first-child {
        font-size: 28px;
    }

    body > header {
        border: rgb(116, 231, 194) 20px solid;
    }

    body > header > p {
        font-size: 12px;
    }
}

h2 {
    margin: 1% 1% 2% 1%;
}

label {
    font-family: Arial, sans-serif;
    font-size: 14px;
    width: 80px;
    display: block;
    text-align: right;
    text-shadow: 1px 1px 1px #C8FCFF;
}

legend {
    font-style: italic;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 100;
}

nav {
    margin: 1%;
}

input[type=submit] {
    width: 80px;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    /*color: #676a78;*/
    transition: letter-spacing 0.5s;
}

input[type=submit]:hover {
    letter-spacing: 3px;
}

footer {
    text-align: center;
    background-color: #C8FCFF;
    margin: 1% 1% 2% 1%;
    padding: 1% 0;
    font-size: 15px;
}


body > footer > div {
    padding-top: 10px;
    background: #C8FCFF;
}

body > footer > div > a > img {
    width: 120px;
    height: auto;
    opacity: 0.6;
}

body > footer > div > a > img:hover {
    width: 180px;
    height: auto;
    opacity: 1;
}

#loginButton, #logoutButton {
    display: none;
}

#loadtestStart, #loadtestStop {
    display: none;
}

#messageInput, #usernameInput {
    width: 100%;
    margin-left: 5px;
}

.login-view > header:first-child {
    border: rgb(151, 124, 184) 2px solid;
    border-radius: 1px;
    box-shadow: -1px 1px 5px rgb(73, 73, 73);
    background-color: rgb(172, 150, 218);
    width: 115%;
    margin: -10px -40px 10px -40px;
}

.login-view > header > h3 {
    margin: 0;
    padding: 1px;
    color: #fff;
    font-family: Arial;
    font-size: 18px;
    text-align: center;
    font-weight: 200;
    letter-spacing: 2px;
    text-shadow: 0px 0px 5px #f6ff33;
    -webkit-animation: shake 1s ease 9s 1;
}

.chat-view > header > h3 {
    margin: 0;
    padding: 1px;
    color: #fff;
    font-family: Arial;
    font-size: 18px;
    text-align: center;
    font-weight: 200;
    letter-spacing: 2px;
    -webkit-animation: fadeIn 1s;
}

.chat-view > header {
    border: rgb(151, 124, 184) 2px solid;
    border-radius: 1px;
    box-shadow: -1px 1px 5px gray;
    background-color: rgb(172, 150, 218);
    width: 115%;
    margin: -10px -40px 10px -40px;
    transition: display 0.5s;
}

.main-view > header:first-child {
    display: none;
}

.main-view {
    border: rgb(144, 196, 189) 1px solid;
    padding: 10px;
    box-shadow: 0px 0px 4px gray;
}

.message > header {
    margin: -5px -5px 5px 2px;
    border-radius: 1px;
    background: rgb(250, 243, 255);
    width: 98%;
    padding: 1.5px;
    box-shadow: #908aaa -1px -1px 6px;
}

.message-view {
    max-height: 300px;
    overflow-y: scroll;
    background-color: #fff;
    font-size: 80%;
    padding: 0px;
}

.message {
    background-color: rgba(255, 255, 255, 0.25);
    margin-top: 8px;
}

.message > p {
    background-color: rgb(255, 245, 221);
    margin: 0 0 1% 1%;
    text-indent: 5px;
    color: #28314B;
    font-size: 120%;
    padding: 2px;
    font-family: monospace;
    letter-spacing: 2px;
    border-radius: 1px;
    -webkit-animation: bounceInLeft 0.7s;
}

.message > p:nth-child(2n) {
    background-color: rgb(223, 255, 243);
}

.message > p > time {
    background-color: #fff;
    display: inline-block;
    float: right;
    font-size: 65%;
    border-radius: 14px;
    padding: 0 16px 0 0;
}

.message h4 {
    margin: 1px;
    padding: 2px;
    letter-spacing: 1px;
    font-family: futura, sans-serif;
    font-size: 13px;
}

.message-view + div table {
    width: 100%;
}

.login-view table {
    max-width: 340px;
    min-width: 240px;
}

.message-view + div table td:first-child, .login-view table td:first-child {
    width: 80px;
}

.message-view + div table td:last-child, .login-view table td:last-child {
    width: 72px;
    text-align: right;
    padding-left: 11px;
}

.copyleft {
    width: 15px;
    padding-bottom: 2px;
    vertical-align: text-bottom;
}

