/* notification.css */

/* notifications container */
.notificationview {

}

/* wrapper for notification messages */
.notificationview > div {
    margin: 10px 1%;
}

.notificationview > div + div {
    margin-top: 1%;
}

/* notification message label */
.notificationview > div > span:first-child {
    padding-right: 1%;
}

/* notification message close button */
.notificationview > div > span:last-child {

}

/* notification message close button */
.notificationview > div > button {
    margin-left: 2%;
}

