/* style.css */

section {
    background-color: rgba(0,173,255,0.25);
    margin: 1%;
}

header {
    background-color: rgba(0, 255, 51, 0.25);
    margin: 1% 1% 1% 1%;
}

form {
    background-color: rgba(255,255,0,0.25);
}

footer {
    text-align: center;
    background-color: rgba(0, 153, 255, 0.25);
    margin: 1% 1% 2% 1%;
    padding: 1% 0;
}

footer > div {
    text-align: right;
    background-color: rgba(0, 153, 255, 0.25);
}

footer > div > a {
    background-color: #f5f5f5;
    margin: 1%;
    display: inline-block;
    padding: 1% 0 1% 1%;
}

fieldset {
    background-color: rgba(0, 0, 255, 0.25);
}

.messageview {
    max-height: 300px;
    overflow-y: scroll;
    background-color: rgba(112, 0, 255, 0.25);
    font-size: 80%;
}

.message {
    background-color: rgba(255,255,0,0.25);
    margin-top: 8px;
}

.message > p {
    background-color: rgba(173, 255, 0, 0.25);
    margin: 0 0 1% 1%;
    text-indent: 2%;
    font-size: 110%;
    padding: 0 0 0 2%;
}

.message > p:nth-child(2n) {
    background-color: rgba(255,255,255,0.25);
}

.message > p > time {
    background-color: rgba(255,255,0,0.25);
    display: inline-block;
    float: right;
    font-size: 80%;
    padding: 0 16px 0 0;
}

.message > header {
    margin: 1% 1% 1% 1%;
}

body {
    font-size: 100%;
}

.message h4 {
    font-size: 100%;
    margin: 0;
}

label {
    font-size: 90%;
    width: 80px;
    display: block;
    float: left;
}

legend {
    font-style: italic;
}

h3 {
    margin: 1% 1% 1% 2%;
}

h2 {
    margin: 1% 1% 2% 1%;
}

h1 {
    margin: 1% 1% 2% 1%;
}

nav {
    margin: 1%;
}

input[type="submit"] {
    width: 62px;
}

.messageview + div table {
    width: 100%;
}

.loginview table {
    width: 50%;
    max-width: 340px;
    min-width: 240px;

}

.messageview + div table td:first-child, .loginview table td:first-child {
    width: 80px;
}

.messageview + div table td:last-child, .loginview table td:last-child {
    width: 72px;
    text-align: right;
}

#messageInput, #usernameInput {
    width: 100%;
}

.copyleft {
    width: 15px;
    padding-bottom: 2px;
    vertical-align: text-bottom;
}
